.dlcList {
  padding: 72px 18px;
  background-color: rgb(17, 17, 17);

  .container {
    max-width: 1056px;
    margin-inline: auto;
    padding-top: 80px;

    > h1 {
      color: white;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      margin: 0 33.3% 24px 0;
      text-transform: uppercase;
    }

    > p {
      color: white;
      font-size: 18px;
      line-height: 28px;
      margin: 0 33.3% 48px 0;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    padding: 16px;
    max-width: 336px;
    width: 100%;
    min-width: 336px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:hover > .openDescButton {
      background-image: url(/dlc-plus-button/button-plus-hover.png);
    }

    &.open .desc {
      pointer-events: all;
      opacity: 1;
    }

    .desc {
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 0.2s;
      padding: 16px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      border: 4px solid rgb(154, 77, 255);

      .closeDescButton {
        align-self: end;
        cursor: pointer;
        background-image: url(/dlc-close-button/button-close-default.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;

        &:hover {
          background-image: url(/dlc-close-button/button-close-hover.png);
        }
      }

      .text {
        h2 {
          color: white;
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          margin-block: 0 8px;
        }

        p {
          color: white;
          line-height: 24px;
          margin-block: 0;
        }
      }

      .moreButton {
        align-self: start;
      }
    }

    .openDescButton {
      pointer-events: none;
      background-image: url("/dlc-plus-button/button-plus-default.png");
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }
  }

  @media (max-width: 724px) {
    .container {
      > h1,
      > p {
        text-align: center;
        margin-right: 0;
      }
    }

    .list {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;

      .item {
        min-width: 0;
      }
    }
  }
}
