.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 18px 0;
  background-color: rgb(17, 17, 17);
  filter: drop-shadow(0 -4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 -2px 2px rgb(0 0 0 / 0.06));
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  column-gap: 96px;
  margin-bottom: 16px;

  @media (max-width: 795px) {
    column-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (max-width: 425px) {
    column-gap: 12px;
  }
}

.item {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-block: 0 8px;
    color: rgb(154, 77, 255);
  }

  a {
    text-decoration: none;
    color: rgb(154, 77, 255);
    margin-bottom: 4px;
    line-height: 24px;
  }
}

.head {
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
  }

  span,
  a {
    color: white;
    line-height: 24px;
  }
}

@media (max-width: 425px) {
  .head {
    h4 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    a,
    span {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .item {
    h4 {
      font-size: 16px;
      line-height: 26px;
    }

    a {
      font-size: 14px;
      margin-bottom: 2px;
      line-height: 22px;
    }
  }
}

.copyright {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(75, 85, 99);
  text-align: center;
}
