.serverItem {
  background-color: rgb(17, 17, 17);
  padding-top: 80px;

  a {
    text-decoration: underline;
  }

  .head {
    height: 608px;
    background-position: center;
    background-size: cover;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 96px;
      width: 100%;
      background-image: url("/trans-bottom.png");
      background-repeat: repeat-x;
    }
  }

  .textContainer {
    padding: 80px 18px;
    margin: 0 auto;
    max-width: 1200px;

    .title {
      color: rgb(154, 77, 255);
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      margin: 0 0 18px;
    }

    .subtitle {
      color: white;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
    }

    .buttonsContainer {
      display: flex;
      gap: 16px;
      padding: 16px 0;
    }

    .textBlockContainer {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .textBlock {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2,
        p,
        strong {
          color: white;
        }

        h2 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          margin: 0 0 0 48px;
        }

        p {
          font-size: 18px;
          line-height: 28px;
          text-indent: 18px;
          margin: 0;
        }

        strong {
          font-size: 18px;
          line-height: 28px;
        }

        img {
          width: 100%;
          max-width: 816px;
          display: block;
          margin: 0 auto;
        }

        iframe {
          display: block;
          margin: 0 auto;
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        ul {
          margin: 0;
          li {
            color: white;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 12px;
            &::marker {
              margin-right: 18px;
            }
          }
        }

        a {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .textContainer {
    padding: 40px 12px;
  }
}
